# Active the gnome keyring for automatic Nextcloud startup.
eval $(/usr/bin/gnome-keyring-daemon --start) & export SSH_AUTH_SOCK &
nextcloud &       # TODO do not show nextcloud 

sxhkd &           # Start the shortcut daemon.
dunst &           # Start dunst for usage of notify-send.

statusbar &       # Activate the statusbar for dwm.
low-battery &     # Show a notification when the battery is low.

unclutter &       # Cursor disappears when inactive.
touchpad-toggle & # Turn of the touchpad by default.

xcompmgr &        # For transparency.
setbg &           # Turn on the background.

tilda &           # Start dropdown terminal in bg.

# Swap the left control and capslock key (only in X).
setxkbmap -option ctrl:swapcaps & 
# Left control is escape and control at the same time.
killall xcape 2> /dev/null ; xcape -e 'Control_L=Escape' & 
