extends c
priority 1

## MAIN
snippet inc "" b
#include <${1:iostream}>
endsnippet

snippet ns "" b
using namespace std;
endsnippet

## IO
snippet cin "" b
cin >> ${1};
endsnippet

snippet cout "" b
cout << ${1} << endl;
endsnippet

snippet cerr "" b
cerr << ${1} << endl;
endsnippet

## DOCS
snippet '* par' "" A
* @param
endsnippet

snippet '* ret' "" A
* @return
endsnippet

snippet file "" bA
/**
 * @file
 *
 * @brief ${0}
 */

endsnippet
