extends c

## MAIN
snippet incc
#include <${1:iostream}>
endsnippet

snippet ns
using namespace std;
endsnippet

## IO
snippet cin
cin >> ${1};
endsnippet

snippet cout
cout << ${1} << endl;
endsnippet
