extends c

## MAIN
snippet incc "#include <..>" b
#include <${1:iostream}>
endsnippet

snippet ns "using namespace std;" b
using namespace std;
endsnippet

## IO
snippet cin "cin >> ..;" b
cin >> ${1};
endsnippet

snippet cout "cout << .. << endl;" b
cout << ${1} << endl;
endsnippet
